*{
    font-family: "Poppins", sans-serif;
}
body{
    padding-top: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: auto;
    padding: 20px 0;
    box-shadow: 0px 7px 25px 0px rgba(100, 100, 111, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 25px 30px;
}
.form-group{
    margin-bottom: 7px;
}
.form-group label{
    margin-bottom: 7px;
}
.form-group .gender{
    display: block;
}
.form-group input[type="radio"]{
    margin-right: 10px;
}
.form-group .male{
    margin-right: 20px;
}
.form-btn{
    margin-top: 10px;
}